<div>
  <h2>По операционным системам: </h2>
  <table>
    <% @by_oses.each do |click| %>
      <tr>
        <th> <%= click.keys.first %> </th>
        <td> <%= click.values.first.count %> </td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <h2>По платформам: </h2>
  <table>
    <% @by_platforms.each do |click| %>
      <tr>
        <th> <%= click.keys.first %> </th>
        <td> <%= click.values.first.count %> </td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <h2>По странам: </h2>
  <table>
    <% @by_countries.each do |click| %>
      <tr>
        <th> <%= click.keys.first %> </th>
        <td> <%= click.values.first.count %> </td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <h2>По датам: </h2>
  <table>
    <% @by_dates.each do |click| %>
      <tr>
        <th> <%= click.keys.first %> </th>
        <td> <%= click.values.first.count %> </td>
      </tr>
    <% end %>
  </table>
</div>
