<div>
  <h2>По операционным системам: </h2>
  <table>
   <% @by_oses.keys.each do |os_key| %>
      <tr>
        <th> <%= os_key %> </th>
        <td> <%= @by_oses[os_key].count %> </td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <h2>По платформам: </h2>
  <table>
    <% @by_platforms.keys.each do |key| %>
      <tr>
        <th> <%= key %> </th>
        <td> <%= @by_platforms[key].count %> </td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <h2>По странам: </h2>
  <table>
    <% @by_countries.keys.each do |key| %>
      <tr>
        <th> <%= key %> </th>
        <td> <%= @by_countries[key].count %> </td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <h2>По датам: </h2>
  <table>
    <% @by_dates.keys.each do |key| %>
      <tr>
        <th> <%= key %> </th>
        <td> <%= @by_dates[key].count %> </td>
      </tr>
    <% end %>
  </table>
</div>
